<div *ngIf="sensordata">
  <mat-card>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>waves</mat-icon>
        <h3 matLine>PH: {{ sensordata.PhSensor1.stringValue}}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>whatshot</mat-icon>
        <h3 matLine>Temp Sensor 1: {{ sensordata.TempSensor1.stringValue }} &#176;C</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>whatshot</mat-icon>
        <h3 matLine>Temp Sensor 2: {{ sensordata.TempSensor2.stringValue}} &#176;C</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>av_timer</mat-icon>
        <h3 matLine>Average Temp from all sensors:
          {{ ((sensordata.TempSensor1.stringValue*1)+(sensordata.TempSensor2.stringValue*1))/2 }} &#176;C</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>access_time</mat-icon>
        <h3 matLine>Timestamp: {{ sensordata.Timestamp.stringValue | date }}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
s
